@model List<webdev.Models.Book>
<div>
    <table>
        @foreach(var item in Model) {
            <tr>
                <td><strong>@Html.DisplayNameFor(model => item.Title):</strong></td>
                <td>@Html.DisplayFor(model => item.Title),</td>
                <td><strong>@Html.DisplayNameFor(model => item.Author):</strong></td>
                <td>@Html.DisplayFor(model => item.Author)</td>
            </tr>
        }
    </table>
</div>